<h1>Home Page</h1>

<p><a href="/stylist/new">Add A Stylist</a></p>

  @if(@Model.Count > 0)
  {
    @foreach(var stylist in Model)
    {
      <li><h2>@stylist.GetName() </h2><a href ="/Stylist/@stylist.GetId()/edit">Edit</a> ||


        <form action="/Stylist/@stylist.GetId()/delete" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
        </form>


      </li>
    }
  }
